<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adhd.ad_hell.domain.user.query.mapper.UserMapper">
    <select id="getDeleteStatusUsers"
            resultType="com.adhd.ad_hell.domain.user.query.dto.UserDTO">
        SELECT ui.USER_ID
             , ui.LOGIN_ID
             , ui.NICKNAME
             , ui.STATUS
             , ui.DELETED_AT
          FROM USER_INFO ui
         WHERE status = 'DELETE'
           AND ui.DELETED_AT &lt;= NOW() - INTERVAL 3 MONTH;
    </select>

    <select id="findByEmailAndLoginId"
            resultType="com.adhd.ad_hell.domain.user.query.dto.UserDTO">
        SELECT ui.USER_ID
             , ui.LOGIN_ID
             , ui.EMAIL
             , ui.STATUS
             , ui.DEACTIVATED_AT
          FROM USER_INFO ui
         WHERE ui.STATUS IN ('ACTIVATE', 'DEACTIVATE')
           AND ui.EMAIL = #{email}
        <if test="loginId != null and loginId != ''">
           AND ui.login_id = #{loginId}
        </if>
         LIMIT 1;
    </select>

</mapper>